html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blackMain: #000;
  --whiteFirst: #fff;
  --whiteSecond: #EEEEEE;
  --blueFirst: #1E2959;
  --blueSecond: #425AC1;
  --blueThird: #89A2E6;
  --redFirst: #da063b;
}