// Sidebar
// Header
// Content

.layout {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 90px auto;
  grid-template-areas:
    'Sidebar Header'
    'Sidebar Content';
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}