.backSidebar {
  grid-area: Sidebar;
  width: 100%;
  height: 100vh;
  background-color: var(--whiteSecond);

  &.dark {
    background-color: #20232c;
  }

  .sidebar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 0 30px 0 0;
    background-color: var(--blueFirst);

    &.dark {
      background-color: #1b1b23;
    }

    .top {
      width: 100%;
      height: auto;

      .logo {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 70px;
        }
      }

      .menu {
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        button {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          color: var(--blueThird);
          background-color: transparent;
          border: none;
          padding: 5px 15px;
          margin: 3px 0;
          text-align: start;
          border-radius: 15px 0 0 15px;
          cursor: pointer;

          svg {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            transition: .3s;
          }

          &.active {
            background-color: var(--blueSecond);
            color: #fff;

            svg {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
  }
}
