// Sidebar
// Header
// ContentHome

.App {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 90px auto;
  grid-template-areas:
    'Sidebar Header'
    'Sidebar ContentHome';
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}